<body data-bs-theme="dark">
    
    <section class="text-center pt-6">
         <h1 class="font-bold text-4xl">Google</h1>
 
         <form action="/search" class="mt-6">
             <input class="rounded-xl border border-transparent text-lg" :label="false" name="q" placeholder="Web developer"></input>
             <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Wyszukaj</button>
         </form>
     </section>
    </body>
     <div class="form-check form-switch mx-4">
                                 <input
                                 class="form-check-input p-2"
                                 type="checkbox"
                                 role="switch"
                                 id="switch"
                                 checked
                                 onclick="myFunction()"
                                 />
                             </div>
                         </div>
     <script>
         function myFunction() {
             var element = document.body;
             element.dataset.bsTheme =
                 element.dataset.bsTheme == "light" ? "dark" : "light";
         }
     </script>   